#root{
    background-color: #0D55AF;
}

#message{
    font-family: "dnx:montserrat";
    font-size: 4px;
    top: 50%;
    width: 90%;
    height: auto;
    horizontal-position: center;
    text-align: center;
    text-shadow: disable;
}